* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(25, 225, 205);
}

.main {
    width: 450px;
    background-color: aliceblue;
    padding: 70px;
    box-shadow: 0 20px 25px rgba(43, 33, 33, 0.697);
    border-radius: 12px;
}

h2 {
    font-size: 27px;
    margin-bottom: 25px;
    text-align: center;
}

.cl {
    font-size: 25px;
    font-weight: 400;
}

.fh {
    font-size: 25px;
    font-weight: 400;
}

input{
    width: 75%;
    height: 35px;
}
